/* selected tag {
    property value : value}*/

    body {
        background:
         url(system.jpg);
         background-size: cover;
    }

    h1 {
        padding-top: 20;
    }

    div {
        
        width:300 ;
        margin-left: auto;
        margin-right: auto;
        height: 19;
        text-align: center;
        margin-bottom: 10;
    }
    
form {
    border: none;
    width: 550;
    text-align: center;
    color:white ;
    background-color: lightseagreen;
    margin-left: auto;
    margin-right: auto;
}

    img {
        width:400 ;

    }
    button {
        margin-bottom: 10;
        padding: 10;
        width: 150;
        border-radius: 25px;
        border: none;
        cursor: pointer;
    }

    input {
        border: none;
        border-bottom: 2px solid white;
        background: transparent;
        text-align: center;
        width: 200;
        padding: 10;
    }

    p {
color: yellow;
padding-bottom: 30;
    }

    a {
        color: white;
    }
    h3 {
        text-decoration: underline;
    }